/Killer Responsive Blog Template Step By Step From Scratch (Pure HTML, CSS & JavaScript) - YouTube.html
/Killer Responsive Blog Template Step By Step From Scratch (Pure HTML, CSS & JavaScript) - YouTube_files